@charset "UTF-8";

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100vw;
    height:100vh;
    background-color: #3d54a0;
    color: #333;
    line-height: 1.6;
}

main {
    width: 100vw;
    height:100vh;
    position: relative;
}
section#login {
    position: absolute;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    overflow: hidden;
    background-color: aliceblue;
    width:270px;
    height:517px;
    border-radius:20px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background-image: url(imagens/colorida.jpg);
    background-size:cover;
    height: 200px;
    background-position:center right;
    
}
section#login > div#formulario {
    display: block;
    padding: 8px;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #713163;
    border-radius:8px;
    margin:5px 0;
    border: solid 2px #713163;
    

}

div.campo > i {
    color: white;
    font-size: 40px;
    width:40px;
   
}
div.campo > input {
    font-size: 1em;
    width:calc(100% - 44.5px);
    height:100%;
    transform: translateY(-17px);
    border:none;
    border-radius: 20px 7px 7px 20px;
    padding: 4px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom:10px;
}
div#formulario > p{
    font-size: 0.8em;
}

form > input {
    display: block;
    width:100%;
    font-size: 1em;
    height: 37px;
    background-color:#6E6ABE;
    color:white;
    border:none;
    border-radius:5px;
    

}
form > input:hover {
    background-color: #3a377a;
    cursor: pointer;

}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    height: 37px;
    border: 1px solid #514e8e;
    border-radius:5px;
    background-color:white ;
    color: #3a377a;
    padding-top: 5px;
    margin-top: 5px;

}

form > a.botao:hover {
  background-color: #6b66d0;
}

form > a.botao > i {
    font-size: 0.8em;
}
 div > label {
    display:none;
 }