@charset "UTF-8";

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100vw;
    height:100vh;
    background-color: #277169;
    color: #333;
    line-height: 1.6;
}

main {
    width: 100vw;
    height:100vh;
    position: relative;
}
section#login {
    position: absolute;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    overflow: hidden;
    background-color: aliceblue;
    width:260px;
    height:500px;
    border-radius:20px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background-image: url(imagens/papeldeparede.jpg);
    background-size:cover;
    height: 200px;
    background-position:center right;
    
}
section#login > div#formulario {
    display: block;
    padding:5px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom:10px;
}
div#formulario > p{
    font-size: 0.8em;
}
