@charset "UTF-";

@media screen and (min-width: 768px) and (max-width: 992px) {/*tablets*/
    body{
         background-image: linear-gradient(to bottom,#021859,#03318C,#6E6ABE,#713163,#BB3D53 ) ;
        
    }
    section#login {
        width:90vw;
        height:350px;
        
    }
    div#formulario > h1 {
        width:100%;
        background-color: #6E6ABE;
        overflow: hidden;
        border-radius:0 20px 0 0 ;
        color:white;
    }
    div#formulario > p {
        font-size: 1.1em;
        margin-bottom:30px;
        padding:8px;
    }
    section#login > div#imagem {
        width:30%;
        float:left;
        height:100%;
    }
    section#login > div#formulario {
        width:70%;
        float:right;
        padding: 0px;
    }
      form > div.campo {
        background-color:#BB3D53 ;
        width:97%;
        margin:0 3px 4px 6px ;
    }
    form > input {
        width:97%;
        margin:0 3px 4px 6px ;
    }
    
    form > a.botao {
        width:97%;
        margin:0 3px 4px 6px ;
    }
}

@media screen and (min-width: 993px){ /*desktop*/
    body{
         background-image: linear-gradient(to bottom,#021859,#03318C,#6E6ABE,#713163,#BB3D53 ) ;
    }
    section#login {
        width:950px;
        height:400px;
        
    }
    section#login > div#imagem {
        width:50%;
        float:right;
        height:100%;
    }
    section#login > div#formulario {
        width:50%;
        float:left;
        
    }
    form > div.campo {
        background-color:#BB3D53 ;
    }
    div#formulario > h1 {
    font-size:2em;
    }
    
    div#formulario > p {
        font-size: 1.2em;
    }
    
    div#formulario > p {
        font-size: 1.1em;
        margin-bottom:30px;
        padding:8px;
    }
}
