@charset "UTF-";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient();
    }
    section#login {
        width:90vw;
        
    }
    section#login > div#imagem {
        width:30%;
        float:left;
        height:100%;
    }
    section#login > div#formulario {
        width:70%;
        float:right;
        
    }
}

@media screen and (min-width: 992px){
    section#login {
        width:950px;
        
    }
    section#login > div#imagem {
        width:50%;
        float:left;
        height:100%;
    }
    section#login > div#formulario {
        width:50%;
        float:right;
        
    }
}