@charset "UTF-";

@media screen and (min-width: 768px) and (max-width: 993px) {
    body{
         background-image: linear-gradient(to bottom,#021859,#03318C,#6E6ABE,#713163,#BB3D53 ) ;
        
    }
    section#login {
        width:90vw;
        
    }
    section#login > div#imagem {
        width:30%;
        float:left;
        height:100%;
    }
    section#login > div#formulario {
        width:70%;
        float:right;
        
    }
      form > div.campo {
        background-color:#BB3D53 ;
    }
}

@media screen and (min-width: 992px){
    body{
         background-image: linear-gradient(to bottom,#021859,#03318C,#6E6ABE,#713163,#BB3D53 ) ;
    }
    section#login {
        width:950px;
        
    }
    section#login > div#imagem {
        width:50%;
        float:right;
        height:100%;
    }
    section#login > div#formulario {
        width:50%;
        float:left;
        
    }
    form > div.campo {
        background-color:#BB3D53 ;
    }
    div#formulario > h1 {
    font-size:2em;
    }
    
    div#formulario > p {
        font-size: 1.2em;
    }

}
